<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
  <h1 class="govuk-fieldset__heading">
    <span class="govuk-caption-xl"><%= @form.provider_user.full_name %></span>
    Change permissions
  </h1>
</legend>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, method: :patch, url: provider_interface_provider_user_update_providers_path do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.hidden_field :_submitted %>

      <% f.object.forms_for_possible_permissions.each do |permission_form| %>
        <%= f.fields_for "provider_permissions_forms[]", permission_form do |pf| %>
          <%= pf.govuk_check_box :active, true, multiple: false, label: { text: permission_form.provider.name }  %>
          <%= pf.fields_for :provider_permission, permission_form.provider_permission do |ppf| %>
            <%= ppf.hidden_field :provider_id %>
          <% end %>
        <% end %>
      <% end %>

      <%= f.govuk_submit 'Update providers' %>
    <% end %>
  </div>
</div>
