<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
  <h1 class="govuk-fieldset__heading">
    <span class="govuk-caption-xl"><%= @form.provider_user.full_name %></span>
    Change permissions
  </h1>
</legend>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, method: :patch, url: provider_interface_provider_user_update_providers_path do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.hidden_field :_submitted %>

      <% f.object.possible_permissions.each do |permission| %>
        <%= f.fields_for "provider_permissions[]", permission do |pf| %>
          <%= pf.govuk_check_box :provider_id, permission.provider_id, multiple: false, label: { text: permission.provider.name } %>
        <% end %>
      <% end %>

      <%= f.govuk_submit 'Update providers' %>
    <% end %>
  </div>
</div>
