<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
  <h1 class="govuk-fieldset__heading">
    <span class="govuk-caption-xl"><%= @form.provider_user.full_name %></span>
    Change permissions
  </h1>
</legend>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form, url: provider_interface_provider_user_update_providers_path do |f| %>
      <%= f.govuk_error_summary %>
      <%# TODO: Identical to support interface provider user checkboxes. %>
      <%= f.govuk_check_boxes_fieldset :provider, legend: { text: 'Provider' } do %>
        <div class="app-checkboxes-scroll" %>
          <% f.object.available_providers.each do |provider| %>
            <%= f.govuk_check_box :provider_ids, provider.id, label: { text: provider.name_and_code } do %>
              <%= f.fields_for :permissions, f.object.permissions  do |pm| %>
                <%= pm.govuk_check_boxes_fieldset :permissions, legend: { text: 'Choose permissions', size: 's' } do %>
                  <%= pm.govuk_check_box :manage_users, provider.id, label: { text: 'Manage users' } %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <%= f.govuk_submit 'Update providers' %>
    <% end %>
  </div>
</div>
